.contenedor__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.formulario input[type=text]{
    width: 650px;
    padding: 15px 22px;
    margin: 5px 5px;
    border: 2px solid #eaeaea;
    border-radius: 7px;
}

.formulario input[type=email]{
    width: 650px;
    padding: 15px 22px;
    margin: 5px 5px;
    border: 2px solid #eaeaea;
    border-radius: 7px;
}

.formulario input[type=number]{
    width: 650px;
    padding: 15px 22px;
    margin: 5px 5px;
    border: 2px solid #eaeaea;
    border-radius: 7px;
}

textarea{
    width: 703px;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #eaeaea;
    border-radius: 7px;
    resize: none;
    margin-top: 12px;
}

.formulario--comentario{
    color: #8C8C8C;
}


.btn__form {
    background-color: #dc047c;
    border: none;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
}