.contenedor__formulario{
    @include flex_column;
    align-items: center;
    margin-bottom: 100px;
}

.formulario input[type=text]{
    width: 650px;
    padding: map-get($estilosForms,paddingForm);
    margin: map-get($estilosForms, marginForm);
    border: map-get($estilosForms, borderForm);
    border-radius: map-get($estilosForms, borderRadiusForm);
}

.formulario input[type=email]{
    width: 650px;
    padding: map-get($estilosForms,paddingForm);
    margin: map-get($estilosForms, marginForm);
    border: map-get($estilosForms, borderForm);
    border-radius: map-get($estilosForms, borderRadiusForm);
}

.formulario input[type=number]{
    width: 650px;
    padding: map-get($estilosForms,paddingForm);
    margin: map-get($estilosForms, marginForm);
    border: map-get($estilosForms, borderForm);
    border-radius: map-get($estilosForms, borderRadiusForm);
}

textarea{
    width: 703px;
    height: 150px;
    box-sizing: border-box;
    border: map-get($estilosForms, borderForm);
    border-radius: map-get($estilosForms, borderRadiusForm);
    resize: none;
    margin-top: 12px;
}

.formulario--comentario{
    color: #8C8C8C;
}


.btn__form {
    background-color: #dc047c;
    border: none;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
}

.btn__form-aceptar{
    @extend .btn__form;
    background-color: green;
}

.btn__form-cancelar{
    @extend .btn__form;
    background-color: red;
}