<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body class="container-fluid">
    <header>

        <div class="container__tools">
            <div class="container__img">
                <a href="../index.html">
                <img src="../assets/mundo hogar logo PNG.png" alt="LOGO"></a>
            </div>
            <div class="container__buscador">
                <input class="barra__buscadora" placeholder="Buscar productos" type="search" id="site-search" name="q"
                aria-label="Search through site content">
                <button class="barra__buscadora--btn">Buscar</button>
            </div>
            <div class="container__cuenta">
                <img class="cuenta" src="../assets/gente.png" alt="mi cuenta">
                <img class="carrito" src="../assets/carrito-de-compras.png" alt="Carrito de compras">
            </div>
        </div>

        <nav class="navegacion navbar">
            <ul class="navegacion__productos">
                <li class="nav__items"><a href="televisores.html">Tv, Audio y Video</a></li>
                <li class="nav__items"><a href="celulares.html">Celulares, Notebooks y Tecnologia</a></li>
                <li class="nav__items"><a href="electrodomesticos.html">Electrodomesticos y Aires Ac.</a></li>
                <li class="nav__items"><a href="muebles.html">Hogar,Muebles y Jardin</a></li>
                <li class="nav__items"><a href="salud.html">Salud,Belleza y Fitness</a></li>
                <li class="nav__items"><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>  

    </header>
        <!-- NAV PRODUCTOS CIERRE -->


    </header>
    <main>  
        <div class="contenedor__h2">
            <h2 class="contenedor__main--h2">SALUD</h2>
        </div>

        <div class="catalogo">
                <article class="catalogo__items">
                    <img src="../assets/salud 1.jpg" alt="Celular">
                </article>

                <article class="catalogo__items">
                    <img src="../assets/belleza 1.jpg" alt="televisor">
                </article>
                <article class="catalogo__items">
                    <img src="../assets/belleza 2.jpg" alt="televisor">
                </article>
                <article class="catalogo__items">
                    <img src="../assets/fitness 1.jpg" alt="televisor">
                </article>
                <article class="catalogo__items">
                    <img src="../assets/fitness 2.jpg" alt="televisor">
                </article>
        </div>

    </main>

            <!-- FOOTER APERTURA -->
    <footer>
        <nav class="navegacion">
            <ul class="navegacion__productos"> 
                <li class="nav__items"><a href="contacto.html">Contacto</a></li>
                <li class="nav__items"><a href="#">Segui tu compra</a></li>
                <li class="nav__items"><a href="#">Sucursales</a></li>
                <li class="nav__items"><a href="#">Centro de Ayuda</a></li>
                <li class="nav__items"><a href="#">Venta por Whatsapp</a></li>
            </ul>
        </nav>

        <div>
            <h3 class="derechos__reservados" >Copyright 2022 | Todos los derechos reservados MundoHogar.com</h3>
        </div>

        <div class="contenedor__footer--redes">
            <img class="logos" src="../assets/wp.png" alt="Whatsapp">
            <img class="logos" src="../assets/instagram.png" alt="Instagram">
            <img class="logos" src="../assets/facebook.png" alt="Facebook">
        </div>
    </footer>
    <!-- FOOTER CIERRE -->
</body>
</html>